<div class='card'>
    <div class = 'card-header'></div>
    <div class = 'card-body'>
        <div class = 'table-responsive'>
            <table class = 'table' *ngIf = 'matchDetails.length' >
                <thead>
                <tr>
                    <th>Match ID</th>
                    <th>Radiant Team</th>
                    <th *ngFor = 'let p of [1,2,3,4,5]'>
                        Player {{p}}
                    </th>
                    <th>Dire Team</th>
                    <th *ngFor = 'let p of [1,2,3,4,5]'>
                        Player {{p}}
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let m of matchDetails'>
                        
                        <td><a [routerLink] = "['/matches', m.match_id]">{{m.match_id}}</a></td>
                        <td><a [routerLink] = "['/teams', m.radiant_team.team_id]">{{m.radiant_team.name}}</a></td>
                        <td *ngFor = 'let p of [0,1,2,3,4]'>
                            <tr><a [routerLink] = "['/players', m.players[p].account_id]">{{m.players[p].name}}</a> , {{m.players[p].pings}} </tr>
                        </td>
                        <td> <a [routerLink] = "['/teams', m.dire_team.team_id]">{{m.dire_team.name}}</a></td>
                        <td *ngFor = 'let p of [5,6,7,8,9]'>
                            <a [routerLink] = "['/players', m.players[p].account_id]">{{m.players[p].name}}</a> , {{m.players[p].pings}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>