<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand">{{title}}</a>
    <ul class="navbar-nav">
        <menu class = "nav-item">
            <a class = "nav-link" [routerLink] = "['/home']"> Home </a>
        </menu>
        <menu class = "nav-item">
            <a class = "nav-link" [routerLink] = "['/matches']"> Matches </a>
        </menu>
        <menu class = "nav-item">
            <a class = "nav-link" [routerLink] = "['/players']"> Players </a>
        </menu>
        <menu class = "nav-item">
            <a class = "nav-link" [routerLink] = "['/teams']"> Teams </a>
        </menu>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>